@import url(../fonts/Open-Sans/stylesheet.css);
@import url(../fonts/Font-Awesome/css/font-awesome.css);
/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 24, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 27, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 35, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 148, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 154, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 155, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 156, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 160, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 166, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 172, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 178, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 184, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/
/*********************
TRANISTION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
BOX SHADOWS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include box-shadow(inset 0 0 4px rgba(0,0,0,0.22));
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 290, ../scss/_mixins.scss */
.button, .blue-button, .blue-button:visited, .button:visited, .blue-button:visited {
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #c3320d;
  border-top-color: #e0390f;
  border-left-color: #e0390f;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -border-radius: 4px;
  border-radius: 4px;
  background-color: #ea3b10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f04c23), to(#ea3b10));
  background-image: -webkit-linear-gradient(top, #f04c23, #ea3b10);
  background-image: -moz-linear-gradient(top, #f04c23, #ea3b10);
  background-image: -o-linear-gradient(top, #f04c23, #ea3b10);
  background-image: linear-gradient(to bottom, #f04c23, #ea3b10);
}
/* line 309, ../scss/_mixins.scss */
.button:hover, .blue-button:hover, .button:focus, .blue-button:focus, .button:visited:hover, .blue-button:visited:hover, .button:visited:focus, .blue-button:visited:focus {
  color: white;
  border: 1px solid #c3320d;
  border-top-color: #a2290b;
  border-left-color: #a2290b;
  background-color: #d2350e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ea3b10), to(#d2350e));
  background-image: -webkit-linear-gradient(top, #ea3b10, #d2350e);
  background-image: -moz-linear-gradient(top, #ea3b10, #d2350e);
  background-image: -o-linear-gradient(top, #ea3b10, #d2350e);
  background-image: linear-gradient(to bottom, #ea3b10, #d2350e);
}
/* line 317, ../scss/_mixins.scss */
.button:active, .blue-button:active, .button:visited:active, .blue-button:visited:active {
  background-color: #f04c23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ea3b10), to(#f04c23));
  background-image: -webkit-linear-gradient(top, #ea3b10, #f04c23);
  background-image: -moz-linear-gradient(top, #ea3b10, #f04c23);
  background-image: -o-linear-gradient(top, #ea3b10, #f04c23);
  background-image: linear-gradient(to bottom, #ea3b10, #f04c23);
}

/* line 322, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #3a6fa4;
  text-shadow: 0 1px 1px #3a6fa4;
  background-color: #417cb7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5089c1), to(#417cb7));
  background-image: -webkit-linear-gradient(top, #5089c1, #417cb7);
  background-image: -moz-linear-gradient(top, #5089c1, #417cb7);
  background-image: -o-linear-gradient(top, #5089c1, #417cb7);
  background-image: linear-gradient(to bottom, #5089c1, #417cb7);
  -webkit-box-shadow: inset 0 0 3px #8cb2d6;
  -moz-box-shadow: inset 0 0 3px #8cb2d6;
  -ms-box-shadow: inset 0 0 3px #8cb2d6;
  -o-box-shadow: inset 0 0 3px #8cb2d6;
  -box-shadow: inset 0 0 3px #8cb2d6;
  box-shadow: inset 0 0 3px #8cb2d6;
}
/* line 329, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #336391;
  background-color: #3a6fa4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#427fbb), to(#3a6fa4));
  background-image: -webkit-linear-gradient(top, #427fbb, #3a6fa4);
  background-image: -moz-linear-gradient(top, #427fbb, #3a6fa4);
  background-image: -o-linear-gradient(top, #427fbb, #3a6fa4);
  background-image: linear-gradient(to bottom, #427fbb, #3a6fa4);
}
/* line 333, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #5089c1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#417cb7), to(#5089c1));
  background-image: -webkit-linear-gradient(top, #417cb7, #5089c1);
  background-image: -moz-linear-gradient(top, #417cb7, #5089c1);
  background-image: -o-linear-gradient(top, #417cb7, #5089c1);
  background-image: linear-gradient(to bottom, #417cb7, #5089c1);
}

/*********************
MISC
*********************/
/* line 342, ../scss/_mixins.scss */
.unstyled-link {
  text-decoration: none !important;
  color: black;
}

/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
HEADER STYLES
*********************/
/* line 24, ../scss/_481up.scss */
.header {
  overflow: hidden;
  position: relative;
}

/* line 29, ../scss/_481up.scss */
.logo-container {
  position: absolute;
  width: 250px;
  height: 250px;
  margin-left: -120px;
  left: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -border-radius: 50%;
  border-radius: 50%;
}

/* line 39, ../scss/_481up.scss */
.logo {
  position: relative;
  top: 40px;
  left: 30px;
  width: 80%;
}

/* line 46, ../scss/_481up.scss */
.agency-tagline {
  margin-top: -10px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 55, ../scss/_481up.scss */
.nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.65);
  bottom: 15%;
}
/* line 62, ../scss/_481up.scss */
.nav ul {
  background: rgba(255, 255, 255, 0.65);
  padding: 5px 0;
  margin: 15px 0;
}
/* line 67, ../scss/_481up.scss */
.nav ul li {
  display: inline;
  padding: 0 5%;
}

/*********************
CONTENT STYLES
*********************/
/* line 81, ../scss/_481up.scss */
.member {
  border: none;
  margin-bottom: 30px;
}
/* line 84, ../scss/_481up.scss */
.member .photo, .member .member-info {
  position: relative;
  float: left;
}
/* line 89, ../scss/_481up.scss */
.member .photo {
  width: 31.491712705%;
}
/* line 93, ../scss/_481up.scss */
.member .member-info {
  width: 65.74585634900001%;
  margin-left: 2.762430939%;
}

/* line 99, ../scss/_481up.scss */
.presenter {
  width: 33%;
}

/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 27, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 41, ../scss/_768up.scss */
.nav li {
  padding: 0 3em;
}

/*********************
CONTENT
*********************/
/* line 53, ../scss/_768up.scss */
.member.first {
  margin-left: 0;
}
/* line 57, ../scss/_768up.scss */
.member .member-info {
  width: 74.30939%;
}
/* line 61, ../scss/_768up.scss */
.member .photo {
  width: 22.92818%;
}

/* line 67, ../scss/_768up.scss */
.programs-nav a, .programs-nav img, .presenter-gallery a, .presenter-gallery img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 70, ../scss/_768up.scss */
.programs-nav a:hover, .programs-nav img:hover, .presenter-gallery a:hover, .presenter-gallery img:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 78, ../scss/_768up.scss */
.programs-nav a {
  text-align: center;
  width: 100%;
}
/* line 83, ../scss/_768up.scss */
.programs-nav img {
  display: block;
  border: 6px #cccccc solid;
  opacity: 0.6;
}
/* line 89, ../scss/_768up.scss */
.programs-nav img:hover {
  opacity: 1;
}
/* line 94, ../scss/_768up.scss */
.programs-nav .current {
  background: none;
  color: #f04c23;
}
/* line 98, ../scss/_768up.scss */
.programs-nav .current img {
  border: 6px #5ab448 solid;
  opacity: 1;
}
/* line 101, ../scss/_768up.scss */
.programs-nav .current img:hover {
  opacity: 1;
}

/* line 108, ../scss/_768up.scss */
.presenter {
  width: 25%;
}

/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/*********************
HEADER SYTLES
*********************/
/* line 19, ../scss/_1030up.scss */
.logo-container {
  width: 380px;
  height: 380px;
  margin-left: -200px;
  top: 3%;
}

/* line 26, ../scss/_1030up.scss */
.logo {
  position: relative;
  top: 80px;
  left: 40px;
  width: 80%;
}

/*********************
NAVIGATION STYLES
*********************/
/*********************
CONTENT STYLES
*********************/
/* line 42, ../scss/_1030up.scss */
.presenter {
  width: 20%;
}

/*********************
FOOTER STYLES
*********************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
