/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
HEADER SYTLES
*********************/

.header {
}

.logo-container {
	width: 380px;
	height: 380px;
	margin-left: -200px;
	top: 3%;
}

.logo {
	position: relative;
	top: 80px;
	left: 40px;
	width: 80%;
}

/*********************
NAVIGATION STYLES
*********************/


/*********************
CONTENT STYLES
*********************/

.presenter {
	width: 20%;
}

/*********************
FOOTER STYLES
*********************/