/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/


	
/*********************
HEADER STYLES
*********************/

.header {
	overflow: hidden;
	position: relative;
}

.logo-container {
	position: absolute;
	top: 15%;
	width: 200px;
	height: 200px;
	margin-left: -50px;
	left: 50%;
	background: $trans-white;
	@include border-radius(50%);
}

.logo {
	position: relative;
	top: 30px;
	left: 20px;
	width: 80%;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	width: 100%;
	position: absolute;
	z-index: 1;
	background: $trans-white;
	bottom: 15%;

	ul {
		background: $trans-white;
		padding: 5px 0;
		margin: 15px 0;

		li {
			display: inline;
			padding: 0 5%;
		}
	}
}



/*********************
CONTENT STYLES
*********************/

// Adding .fourcol and .eightcol here manually
.member {
	border: none;
	margin-bottom: 30px;
	.photo, .member-info {
		position: relative;
  		float: left;
	}

	.photo {
		width: 31.491712705%;		
	}

	.member-info {
		width: 65.74585634900001%;
		margin-left: 2.762430939%;
	}
}

.presenter {
	width: 33%;
}
/*********************
FOOTER STYLES
*********************/