/******************************************************************
Site Name: CatapultPGH
Author: Lara Schenck

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*********************
HEADER SYTLES
*********************/

.site-title {
	.h1 {
		font-size: $h1*2.5;
		padding: $h1 0;
	}
}

/*********************
NAVIGATION STYLES
*********************/


/*********************
CONTENT STYLES
*********************/


/*********************
FOOTER STYLES
*********************/