/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/***********************************
TEXT AND IMAGE SELECTION COLORS
***********************************/

#catapultpgh ::selection { background: $orange; color: $black }
#catapultpgh ::-moz-selection { background: $orange; color: $black }

#catapultpgh img::selection { background: $orange }
#catapultpgh img::-moz-selection { background: $orange }

#catapultpgh-community ::selection { background: $green; color: $black }
#catapultpgh-community ::-moz-selection { background: $green; color: $black }

#catapultpgh-community img::selection { background: $green }
#catapultpgh-community img::-moz-selection { background: $green }

#catapultpgh-agency ::selection { background: $blue; color: $black }
#catapultpgh-agency ::-moz-selection { background: $blue; color: $black }

#catapultpgh-agency img::selection { background: $blue }
#catapultpgh-agency img::-moz-selection { background: $blue }

#catapultpgh-weblog ::selection { background: $dark-green; color: $black }
#catapultpgh-weblog ::-moz-selection { background: $dark-green; color: $black }

#catapultpgh-weblog img::selection { background: $dark-green }
#catapultpgh-weblog img::-moz-selection { background: $dark-green }

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: $black;
}

img {
	width: 100%;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}


/*********************
LINK STYLES
*********************/

a {
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#catapultpgh a, a:visited {
	color: $orange;

	&.current {
		color: $black;
	}

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

#catapultpgh-community a, a:visited {
	color: $green;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	&.current {
		color: $black;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

#catapultpgh-agency a, a:visited {
	color: $blue;

	&.current {
		color: $black;
	}

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

#catapultpgh-weblog a, a:visited {
	color: $dark-green;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $serif;
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 60px 0;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.15em;
	margin: 60px 0 40px;
}

h3, .h3 {
	font-size: 1.25em;
}

h4, .h4 {
	font-size: 1em;
	margin: 1em 0;
}

h5, .h5 {
	font-size: 0.75em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-family: $sans-serif-bold;
	letter-spacing: 2px;
}



/*********************
TYPOGRAPHY ROOT
*********************/

strong {
	font-weight: normal;
	font-family: $strong;
}

em {
	font-style: normal;
	font-family: $em;
}

ul, ol {
	padding-left: 2em;
	font-family: $sans-serif-light;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

p {
	font-family: $sans-serif-light;
}

/*********************
HEADER SYTLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

.nav {
	text-align: center;

	a {
		text-decoration: none;
		color: $black;
	}	

	ul {
		padding: 0;
	}

	li {

	}
}



/*********************
CONTENT STYLES
*********************/

// Home page
.contact-info {
	list-style-type: none;
	padding: 0;
}

// Agency

.agency-tagline {
	background: $blue;
	width: 100%;

	div {
		color: $white;
		}
}

.member {
	border-bottom: 1px solid $light-grey;
	padding-top: 30px;
}

.agency-contact {
	background: $blue;
	width: 100%;

	div {
		color: $white;
		}

	div h1 {
		margin: 15px 0;
		}

	div h1 a {
		color: $white !important;
		border-bottom: 4px solid $white;
		&:hover {
			color: $black !important;
			border-bottom: 4px solid $black;
			}
		}
}

// Community

.programs-nav {
	text-align: center;
	margin-top: 60px;

	a {
		@extend .unstyled-link;
		width: 50%;
		float: left;
		color: $green;
	}

	img {
		display: none;
	}

	.current {
		color: $green;
		background: $light-grey;
	}

	p {
		@extend .h4;
		font-weight: 900;
		font-size: 1em;
	}
}

.tabs {
	padding: 0;
}

.tab-content {
	display: none;

	&#showntell {
		display: block;
	}

	.h2 {
		color: $green;
	}
}

.presenter {
	// Manually adding twocol
	width: 50%;
	float: left;
	padding: 0.2em;
}

#microloans {
	img {
		width: auto;
		
	}
}
/*********************
FOOTER STYLES
*********************/

.footer {
	margin-top: 120px;
}

.footer-container {
	font-size: 0.9em;
	font-family: $sans-serif-light;
	background: $black;
	color: $white;
	padding: 5px;
	position: absolute;
	top: 45%;
	width: 100%;

	a:hover {
		color: $white !important;
	}
}
