
/*********************
GENERAL STYLES
*********************/

* {
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
	background-color: $black;
	font-family: $sans-serif;
	font-size: $default;
	line-height: 1.5;
	color: $black;
	overflow-x: hidden;
}

img {
	width: 100%;
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	padding: $sml;
	margin: $h3 auto;
	background-color: $white;
}

/*********************
LINK STYLES
*********************/

a {
    color: $link-color;
    text-decoration: none;

    &:link {
    	text-decoration: none;
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: $h1;
	line-height: 1.5em;
	margin: $h1 0;
}

h2, .h2 {
	font-size: $h2;
	line-height: 1.15em;
	margin: 60px 0 40px;
}

h3, .h3 {
	font-size: $h3;
}

h4, .h4 {
	font-size: $h4;
	margin: 1em 0;
}

h5, .h5 {
	font-size: $sml;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}



/*********************
TYPOGRAPHY ROOT
*********************/

strong {
	
}

em {
	
}

ul, ol {
	padding-left: 2em;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

blockquote {
	font-style: italic;
	//text-align: center;
	//border-left: 0.1rem solid $white;
	//padding-left: $h2;
	margin: $h3 0;
}

cite {
	font-size: $h4;
	font-style: normal;
}

/*********************
HEADER SYTLES
*********************/

.site-header {
	text-align: center;	
	color: $white;
}

.site-title {
	border-top: 1rem solid $bright-accent;
	border-bottom: 1rem solid $bright-accent;
	text-transform: uppercase;
	
	.h1 {
		line-height: 1;
		font-size: $h2*1.2;
		margin: 0;
		padding: $h1 0;	
		// text-shadow:  0 1px 0 $black, 
		// 			  0 2px 0 #444, 
		// 			  0 3px 0 #333, 
		// 			  0 4px 0 #222, 
		// 			  0 5px 0 #111, 
		// 			  0 6px 1px rgba(0, 0, 0, 0.3), 
		// 			  0 0 5px rgba(0, 0, 0, 0.3), 
		// 			  0 1px 3px rgba(0, 0, 0, 0.3), 
		// 			  0 3px 5px rgba(0, 0, 0, 0.2), 
		// 			  0 5px 10px rgba(0, 0, 0, 0.25), 
		// 			  0 20px 20px rgba(0, 0, 0, 0.15);

		text-shadow: 4px 3px 0 #eee,9px 8px 0 rgba(0,0,0,0.15);

		.secondary {
			font-size: 0.75em;
		}
	}
}

.site-description {
	background-image: url('../img/space.jpeg');
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.tagline {
	padding: $h4;
	font-size: $h3;
	margin: 0;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: $black;
}



/*********************
NAVIGATION STYLES
*********************/



/*********************
CONTENT STYLES
*********************/

.content-unit {
	@extend .clearfix;
}

	.unit-title {
		text-align: center;
		//text-shadow: 4px 3px 0 rgba(0,0,0,0.4),9px 8px 0 rgba(0,0,0,0.15);
		
		.rotation & {
			
		}
		padding: $sml 0;
		margin-top: 0;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
	}

.zinger {
	padding: $h1 0;
}

.zinger-content {
	color: $black;
	background-color: $white;

}

.rotation {
	background-color: $medium-accent;
}

.summary {
	font-size: $h3;
}

.perks .fa {
	font-size: $h2;
}

.perk {
	background-color: rgba(0, 0, 0, 0.1);
	padding: $sml;
	margin-bottom: $sml;
}

.fig-large {
    width: 116%;
    margin-left: -8%;
    
    img {
        border: 2px solid $dark-accent;        
        width: 100%;
    }
}

/*********************
FOOTER STYLES
*********************/

.footer {
	margin-top: 60px;
	text-align: center;
	font-size: 0.9em;
	color: $med-grey;
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
	a {
		display: block;
	}
	span {
		display: none;
	}
}


/*********************
UTILITIES
*********************/

.special {
	color: $alert-yellow;
}

.price {
	color: $dark-accent;
}